body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.start{
    background-color: #b68642;
    padding: 17px;
    width: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}


.logo {
    margin-left: 80px;
}

.logo img {
    height: 120px;
    padding: 20px 50px;
    margin-left: 30px;
}

***********************************************************************

.window {
    display: flex;
    gap: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .window.active {
    display: flex; 
  }
  
  .menu {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-top: 50px;
    padding: 10px 60px;
    background-color: #b68642;
    border-radius: 10px;
    margin-right: 70px;
  }
  
  .menu.active {
    display: flex;
    z-index: 2;
  }
  
  .menu a {
    display: block;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
  }
  
  .menu a:hover {
    color: #2fc4ff;
  
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #b68642;
    font-size: 17px;
    cursor: pointer;
    align-items: center;
    gap: 5px;
  }
  
  .menu-toggle .hamburger-icon {
    width: 20px;
    height: 2px;
    background: #b68642;
    position: relative;
  }
  
  .menu-toggle .hamburger-icon::before,
  .menu-toggle .hamburger-icon::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #b68642;
    left: 0;
  }
  
  .menu-toggle .hamburger-icon::before {
    top: -6px;
  }
  
  .menu-toggle .hamburger-icon::after {
    top: 6px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #b68642;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 12px;
        font-size: small;
        gap: 0px;
        width: auto;
    }
  
    .menu .window {
      color: #ffffff;
      background-color: #33373da0;
      padding: inherit;
      text-align: start;
  
  }
  
    .menu a {
        color: rgb(0, 0, 0);
        padding: inherit;
        text-align: start;
  
    }
  
    .menu a:hover {
        color: #ffffff;
        background-color: #33373da0;
  
    }
  
    .menu-toggle {
        display: flex;
    }
  
    .image-container {
             min-width: 100% !important;
             
      }
  }
  
  /* Show menu when active */
  .menu.active {
    display: flex;
  }
  

************************************************************************

.item5 {
    text-align: center;

}

.buttons5 {
    display: flex;
    flex-wrap: wrap;
}

.buttons6 {
    flex: 1 1 calc(60% - 10px);
    min-width: 300px;
    width: 100%;
    text-align: center;
    height: auto;
}

.buttons6 img {
    width: 100%;
    justify-content: center;
    height: 100%;    
  object-fit: cover; /* ปรับภาพให้เต็มพื้นที่ โดยไม่เสียสัดส่วน */

}

.buttons7 {
    flex: 1 1 calc(35% - 10px);
    min-width: 300px;
    padding: 1px;
    text-align: center;
    background-color: #9a6f30;
}

.buttons71 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 110px;

}

.buttons71 h1 {
    font-size: 70px;
    margin: 0 0 5px;
    color: #ffffff;
    font-weight: bold; /* หรือใช้ค่า 700 */
    text-align: start;
}

.buttons71 p {
    font-size: 40px;
    color: #ffffff;
    text-align: start;
}

.buttons71 p1 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #ffffff;
    text-align: start;

}

.buttons8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    /* padding: 0.1px 0.1px; */
    /* max-width: 500px; */
    margin: 70px auto;
    margin-top: 50px;
    /* height: auto; */
}

.content-btm2{
    background-color: #ffffff;
    border-radius: 10px;
}

.content-btm2 p{
color: #9a6f30;
font-size: 26px;
text-align: center;
font-weight: bold; /* หรือใช้ค่า 700 */
margin: 5px;
}

.buttons8 a {
    margin: 1rem 0;
    color: rgb(255, 255, 255);
}

.buttons8 img {
    width: 100%;
    /* ขยายภาพให้เต็มพื้นที่ที่กำหนด */
    object-fit: cover;
    /* ปรับภาพให้เต็มพื้นที่ โดยไม่เสียสัดส่วน */
}